#foto-conversa {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#foto-galeria {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#foto-passeio {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#foto-quartos {
    height: 20px;
    width: auto;
    margin-right: 5px;
}


#foto-facebook {
    height: 20px;
    width: auto;
    margin-right: 2px;
    margin-bottom: 1px;
}

#foto-insta {
    height: 20px;
    width: auto;
    margin-right: 2px;
    margin-bottom: 1px;
}

#foto-whatsapp {
    height: 20px;
    width: auto;
    margin-right: 2px;
    margin-bottom: 1px;

}

#foto-galeria-passeios {
    height: 20px;
    width: auto;
    margin-right: 5px;


}

#foto-location-passeios {
    height: 20px;
    width: auto;
    margin-right: 5px;

}

#foto-home-passeios {
    height: 20px;
    width: auto;
    margin-right: 5px;

}

#foto-quartos-passeio {
    height: 20px;
    width: auto;
    margin-right: 5px;

}


.container {
    margin-top: 20vh;
    padding: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.53);
    border-radius: 5px;
    padding-top: 50px;
}

.gallery-item {
    padding: 5px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}


.lg-item {
    display: block;
}


.lg-item:hover img {
    cursor: pointer; /* Change the cursor to pointer */
    transform: scale(1.05); /* Slightly enlarge the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Add a shadow effect */
}

.subtitulo-foto {
    padding: 0px 20px;
    background-color: white;
    margin-top: -70px;
    position: absolute;
}
