@media (max-width: 600px)  {
    #tudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav {
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-right: 30px;
        margin-top: -60px;
    }

    nav > h1 {
        font-size: 1em;
    }

    nav > ul {
        margin-left: 20px;
    }

    nav > ul > li {
        margin: 0px 5px;
    }

    nav > ul > li > a {
        font-size: 0.8em;
    
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 120.25%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        height: 60vh;
        width: 100%;
    }




}


