/*@media (max-width: 1024px) */
    
/*@media (max-width: 768px) */

@media (max-width: 480px) {

    html, body {
        overflow-x: hidden;
    }

    nav > ul {
        width: 100vw;
        justify-content: center; /* Centraliza os itens na barra de navegação */
    }

    nav > ul > li {
        padding: 3px; 
    }

    nav > ul > li > a {
        font-size: 13px;
        width: auto; /* Ajusta a largura automaticamente conforme o conteúdo */
        text-align: center; /* Centraliza o texto na barra de navegação */
    }

    .texto-principal {
        font-size: 2em;
        margin-top: 80px; /* Ajusta a margem superior para alinhar com a barra de navegação */
    }

    .quem_somos {
        margin-left: -75px;
        

    }

    .secoes-quem-somos {
        width: 300px;

    
    }


    .foto_quemsomos {
        display: none; /* Oculta a imagem com a classe .foto_quemsomos */
    }
}

