


.flutuantes {
    padding: 50px;
}

.bloco-flutuante1,
.bloco-flutuante2 {
    margin: 50px;
    border-radius: 10px;
    border: 0.5px solid black;
    width: 70vw;
    display: flex;
    overflow: hidden;
}

.foto-flutuante1,
.foto-flutuante2 {
    height: 100%;
    width: 50%;
}

.texto-flutuante1,
.texto-flutuante2 {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
    z-index: 1;
    position: relative;
}

.texto-flutuante-preco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.beneficios {
    width: 100%;
    text-align: left;
}



.btn {
    width: 200px;
}

.aviso-flutuante {
    width: 60vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.049);
    padding: 30px;
    border-radius: 10px;

}

.aviso-flutuante > h2 {

    text-align: center;
}